---
import { PROJECTS } from '@/consts/projects'
import ProjectCard from '@/components/ui/ProjectCard.astro'
---

<section
  id="projects"
  class="animate-in animate-delay-100 flex flex-col items-center justify-center gap-8 pt-16 md:flex-row md:gap-16"
>
  <div class="w-full items-center">
    <h2 class="text-xl font-medium">Proyectos</h2>
    <div class="mt-4 grid grid-cols-1 gap-3 md:grid-cols-2" id="cards">
      {PROJECTS.map((project) => <ProjectCard {...project} />)}
    </div>
  </div>
</section>
