---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main>
    <div
      class="m-auto flex flex-col justify-center min-h-[100vh] text-center items-center"
    >
      <h2 class="text-3xl font-inter tracking-tight font-[10] p-0">
        TALENTO ENCONTRADO, ESTA PÁGINA NO
      </h2>
      <h1
        class="text-9xl lg:text-[10vw] my-16 font-inter font-[10] p-0 text-transparent bg-gradient-to-b from-white from-35% to-transparent bg-clip-text"
      >
        404
      </h1>
      <a
        class="text-center inline-flex items-center px-3 sm:px-5 py-1.5 sm:py-2.5 text-sm rounded bg-gradient-to-bl from-white/90 to-white/70 hover:bg-white hover:shadow-[0_0_10px_rgba(255,255,255),0_0_20px_rgba(255,255,255,0.2),0_0_50px_rgba(255,255,255,0.5)] text-black transition duration-300"
        href="/"
      >
        Volver al inicio
      </a>
      <p class="text-sm font-medium mt-60 px-8">
        Si lo que quieres es ir a otro lado a tomar un café, solo tienes que <a
          href="/#contact"
          class="text-[#A0A0A0] text-sm hover:[text-shadow:_0_0_10px_rgb(210,210,210)] text-center inline-flex rounded transition duration-300"
          >contactarme</a
        > 😉
      </p>
    </div>
  </main>
</Layout>
