---
import Layout from '../layouts/Layout.astro';

import Section from '../components/Section.astro';
import Contact from '../sections/Contact.astro';
import Experience from '../sections/Experience.astro';
import About from '../sections/About.astro';
import Projects from '../sections/Projects.astro';
import Stack from '../sections/Stack.astro';

import DonwnloadIcon from '../components/icons/DonwnloadIcon.astro';
import RightArrowIcon from '../components/icons/RightArrowIcon.astro';
---

<Layout>
	<main>
		<Section
			id="Home"
			class="container items-center justify-center text-center pt-52"
		>
				<h1 class="text-[4.5em] font-semibold [text-shadow:_0_0_20px_black;] dark:[text-shadow:_0_0_20px_white;] mb-8">Julián de Pablo</h1>

				<h2 class="typed text-[1.5em]"></h2>
	
				<div class="flex mt-20 justify-center">
					<a class="text-center inline-flex items-center px-5 py-2.5 mr-8 text-sm rounded shadow bg-slate-100 hover:bg-slate-200 text-white dark:text-black" href="/#contact">
							Contact me
	
							<!-- <RightArrowIcon/> -->
					</a>
	
					<a href="/Julian-CV.pdf" download class="dark:text-[#A0A0A0] text-white bg-black dark:bg-[#262626] font-bold text-center inline-flex items-center px-5 py-2.5 mr-2 rounded">
						Download CV
	
						<!-- <DonwnloadIcon/> -->
					</a>
				</div>
		</Section>

		<Section
			id="experience"
		>
			<Experience />
		</Section>

		<Section
			id="projects"
		>
			<Projects />
		</Section>

		<Section
			id="about"
			class="flex flex-col justify-center items-center"
		>
			<About />
		</Section>

		<Section
			id="stack"
		>
			<Stack />
		</Section>

		<Section
			id="contact"
			class="container grid mx-auto justify-items-center"
		>
			<Contact />
		</Section>
	</main>
</Layout>

<style lang="scss">
	@import 'typed';
	
	.typed {
		@include typed(
			"Software Enginner", "Fullstack Developer",
			2, (caret-width: 2px, caret-space: 2px)
		);
	}
	</style>