---
import Title from "./Title.astro";
---


  <div class="container flex flex-col md:flex-row items-center mx-auto h-[calc(100vh-100px)]">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3.5 md:gap-7">
      <div class="p-6 bg-transparent border-black dark:border-white shadow-lg">
        <svg class="w-10 h-10 mb-4 fill-black dark:fill-white" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 24 24" id="fast-mail">
          <path d="M4.79,10.5h-2a1,1,0,1,0,0,2h2a1,1,0,0,0,0-2ZM21.57,7.66l0-.06,0,0h0A3,3,0,0,0,19.2,6.5H11.27a3,3,0,0,0-2,.74h0v0A2.93,2.93,0,0,0,8.31,9l-.88,5a3,3,0,0,0,.66,2.45,3,3,0,0,0,2.29,1.07h7.94a3,3,0,0,0,3-2.48l.88-5A3,3,0,0,0,21.57,7.66Zm-2.74.84-3.4,2.76a1,1,0,0,1-1.38-.12L11.72,8.5Zm.48,6.17a1,1,0,0,1-1,.83H10.38a1,1,0,0,1-.76-.36,1,1,0,0,1-.22-.81l.8-4.53,2.35,2.66a3,3,0,0,0,4.14.35L20.13,10ZM5.79,6.5h-3a1,1,0,1,0,0,2h3a1,1,0,0,0,0-2Z"></path>
        </svg>
        
        <h5 class="mb-4 text-xs font-semibold text-gray-900 dark:text-white">Email</h5>

        <p class="mb-3 text-gray-500 dark:text-gray-400">juliandpt98@gmail.com</p>
      </div>

      <div class="p-6 bg-transparent  border-black dark:border-white shadow-lg">
        <!-- Añadir phone component -->
        <svg class="w-auto h-10 mb-4 fill-black dark:fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="mobile-android">
          <path d="M12.71,16.29l-.15-.12a.76.76,0,0,0-.18-.09L12.2,16a1,1,0,0,0-.91.27,1.15,1.15,0,0,0-.21.33,1,1,0,0,0,1.3,1.31,1.46,1.46,0,0,0,.33-.22,1,1,0,0,0,.21-1.09A1,1,0,0,0,12.71,16.29ZM16,2H8A3,3,0,0,0,5,5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V5A3,3,0,0,0,16,2Zm1,17a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V5A1,1,0,0,1,8,4h8a1,1,0,0,1,1,1Z"></path>
        </svg>
        
        <h5 class="mb-4 text-xs font-semibold tracking-tight text-gray-900 dark:text-white">Phone</h5>

        <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">+34 620 69 69 68</p>
      </div>

      <div class="p-6 bg-transparent border-black dark:border-white shadow-lg">
        <svg class="w-10 h-10 mb-4 fill-black dark:fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="location-pin-alt">
          <path d="M12,10.8a2,2,0,1,0-2-2A2,2,0,0,0,12,10.8Zm-.71,6.91a1,1,0,0,0,1.42,0l4.09-4.1a6.79,6.79,0,1,0-9.6,0ZM7.23,8.34A4.81,4.81,0,0,1,9.36,4.79a4.81,4.81,0,0,1,5.28,0,4.82,4.82,0,0,1,.75,7.41L12,15.59,8.61,12.2A4.77,4.77,0,0,1,7.23,8.34ZM19,20H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"></path>
        </svg>
        
        <h5 class="mb-4 text-xs font-semibold tracking-tight text-gray-900 dark:text-white">Location</h5>

        <p class="mb-6 font-normal text-gray-500 dark:text-gray-400">Madrid, Spain</p>
      </div>
    </div>

    <div class="flex-auto flex flex-col items-center mx-14">
      <div class="border border-gray-400 w-0 h-4" />
      
      <h1 class="text-gray-400 text-xs mt-2 mb-3"> or </h1>
      
      <div class="border border-gray-400 w-0 h-4" />
    </div>

    <div class="flex-auto grid grid-cols-2 gap-4">
      <div class="relative z-0 mt-4">
        <input type="text" id="name" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-black dark:border-white appearance-none dark:text-white focus:outline-none focus:ring-0 peer" placeholder=" " />
        <label for="Name" class=" absolute text-sm dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name</label>
      </div>
    
      <div class="relative z-0 mt-4">
        <input type="text" id="email" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-black appearance-none dark:text-white dark:border-white focus:outline-none focus:ring-0 peer" placeholder=" " />
        <label for="Email" class=" absolute text-sm dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
      </div>

      <div class="relative col-span-2 z-0 mt-4 w-full">
        <textarea rows="7" id="message" class="block resize-none py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-black appearance-none dark:text-white dark:border-white focus:outline-none focus:ring-0 peer" placeholder=" " />
        <label for="Message" class=" absolute text-sm dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Message</label>
      </div>

      <button id="sendButton" class="relative col-span-2 inline-flex items-center justify-center p-0.5 mt-4 mr-2 border-2 border-black dark:border-white overflow-hidden text-sm font-medium text-gray-900 group dark:text-white">
        <span class="relative px-5 py-2.5 dark:text-white transition-all rounded-md group-hover:bg-opacity-0">
          Send Message
        </span>
      </button>
    </div>

    <div id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 dark:text-gray-400 bg-gray-50 dark:bg-[#1F1F1F] shadow fixed right-5 bottom-5 hidden" role="alert" >
      <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 dark:bg-green-800 dark:text-green-200">
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" id="check">
            <path d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z"></path>
          </svg>

          <span class="sr-only">Check icon</span>
      </div>

      <div class="ml-3 text-sm font-normal">Email sent successfully!</div>

      <button type="button" class="ml-auto -mx-1.5 -my-1.5text-gray-400 hover:text-gray-900 p-1.5 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white" data-dismiss-target="#toast-success" aria-label="Close">
          <span class="sr-only">Close</span>
          <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
      </button>
    </div>

    <div id="toast-danger" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white shadow dark:text-gray-400 dark:bg-gray-800 fixed right-5 bottom-5 hidden" role="alert">
      <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 dark:bg-red-800 dark:text-red-200">
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>

          <span class="sr-only">Error icon</span>
      </div>

      <div class="ml-3 text-sm font-normal">An error ocurred.</div>

      <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 p-1.5 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800" data-dismiss-target="#toast-danger" aria-label="Close">
          <span class="sr-only"> Close </span>
          <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
      </button>
    </div>

  </div>


<script>
import emailjs from '@emailjs/browser';

document.getElementById('sendButton')?.addEventListener("click", () => {
  const name = (document.getElementById('name') as HTMLInputElement).value
  const email = (document.getElementById('email') as HTMLInputElement).value
  const message = (document.getElementById('message') as HTMLInputElement).value

  const userParams = {
    from_name: name,
    from_email: email,
    message: message
  }

  emailjs.send('service_julian', 'template_julian', userParams, 'user_WjMXCOdbdqCzwQpCDkjtL')
    .then(
      (response) => {
        document.getElementById('toast-success')?.classList.toggle('hidden')

        setTimeout (() => {
          document.getElementById('toast-success')?.classList.toggle('hidden')
        }, 3000)
      },
      (error) => {
        document.getElementById('toast-danger')?.classList.toggle('hidden')

        setTimeout (() => {
          document.getElementById('toast-danger')?.classList.toggle('hidden')
        }, 3000)
      }
    )
})
</script>