---
interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div class="flex flex-row items-center mb-4 mt-16">
  <div class="border border-black dark:border-white w-20 h-0 mr-8" />
  
  <h1 class="text-4xl font-extrabold text-black dark:text-white md:text-5xl"> { title } </h1>
  
  <div class="border border-black dark:border-white w-20 h-0 ml-8" />
</div>

<h1 class="text-xl font-extrabold text-gray-600 dark:text-gray-400 mb-8"> { subtitle } </h1>