---
import Title from "../components/Title.astro";
import CopyIcon from "../components/icons/CopyIcon.astro";

const CONTACTS = [
  {
    icon: "/icons/mail.svg",
    text: "juliandpt98@gmail.com",
    alt: "mail",
    canCopy: true,
    copied: false
  },
  {
    icon: "/icons/phone.svg",
    text: "+34 620 69 69 68",
    alt: "phone",
    canCopy: true,
    copied: false
  },
  {
    icon: "/icons/location.svg",
    text: "Madrid, Spain",
    alt: "location",
    canCopy: false,
    copied: false
  }
]
---

<Title title="Contact" />

<div class="flex flex-col md:flex-row items-center">
  <div id="contacts" class="class=mb-4 grid gap-4 md:mx-auto w-full">
    {CONTACTS.map(contact => (
      <div class="relative p-3 rounded-lg contact">
        <button class='flex items-center justify-between w-auto transition-colors cursor-pointer'>
          <span class='text-gray-500 text-left'> { contact.text } </h>
  
          <CopyIcon class="text-gray-500 w-4 h-4 invisible" />
        </button>
      </div>
    ))}
  </div>

  <div class="flex-auto flex flex-col items-center mx-14">
    <div class="border border-gray-400 w-0 h-4" />
    
    <h1 class="text-gray-400 text-xs mt-2 mb-3"> or </h1>
    
    <div class="border border-gray-400 w-0 h-4" />
  </div>

  <div class="flex-auto grid grid-cols-2 gap-4">
    <div class="relative z-0 mt-4">
      <input type="text" id="name" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-black dark:border-white appearance-none dark:text-white focus:outline-none focus:ring-0 peer" placeholder=" " />
      <label for="Name" class=" absolute text-sm dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name</label>
    </div>
  
    <div class="relative z-0 mt-4">
      <input type="text" id="email" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-black appearance-none dark:text-white dark:border-white focus:outline-none focus:ring-0 peer" placeholder=" " />
      <label for="Email" class=" absolute text-sm dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
    </div>

    <div class="relative col-span-2 z-0 mt-4 w-full">
      <textarea rows="7" id="message" class="block resize-none py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-black appearance-none dark:text-white dark:border-white focus:outline-none focus:ring-0 peer" placeholder=" " />
      <label for="Message" class=" absolute text-sm dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Message</label>
    </div>

    <button id="sendButton" class="relative col-span-2 inline-flex items-center justify-center p-0.5 mt-4 mr-2 border-2 border-black dark:border-white overflow-hidden text-sm font-medium text-gray-900 group dark:text-white">
      <span class="relative px-5 py-2.5 dark:text-white transition-all rounded-md group-hover:bg-opacity-0">
        Send Message
      </span>
    </button>
  </div>

  <div id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 dark:text-gray-400 bg-gray-50 dark:bg-[#1F1F1F] shadow fixed right-5 bottom-5 hidden" role="alert" >
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 dark:bg-green-800 dark:text-green-200">
        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" id="check">
          <path d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z"></path>
        </svg>

        <span class="sr-only">Check icon</span>
    </div>

    <div class="ml-3 text-sm font-normal">Email sent successfully!</div>

    <button type="button" class="ml-auto -mx-1.5 -my-1.5text-gray-400 hover:text-gray-900 p-1.5 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white" data-dismiss-target="#toast-success" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
    </button>
  </div>

  <div id="toast-danger" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white shadow dark:text-gray-400 dark:bg-gray-800 fixed right-5 bottom-5 hidden" role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 dark:bg-red-800 dark:text-red-200">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>

        <span class="sr-only">Error icon</span>
    </div>

    <div class="ml-3 text-sm font-normal">An error ocurred.</div>

    <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 p-1.5 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800" data-dismiss-target="#toast-danger" aria-label="Close">
        <span class="sr-only"> Close </span>
        <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
    </button>
  </div>
</div>

<style>
#contacts:hover > .contact::after {
  @apply opacity-100;
}
.contact:hover::before {
  @apply opacity-100;
}
.contact::before,
.contact::after {
  @apply content-[""] h-full opacity-0 absolute transition-opacity duration-500 w-full rounded-[inherit] left-0 top-0;
}
.contact::before {
  @apply z-[3];
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
}
.contact::after {
  @apply z-[1];
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
}
</style>


<script>
import emailjs from '@emailjs/browser';

document.getElementById('sendButton')?.addEventListener("click", () => {
  const name = (document.getElementById('name') as HTMLInputElement).value
  const email = (document.getElementById('email') as HTMLInputElement).value
  const message = (document.getElementById('message') as HTMLInputElement).value

  const userParams = {
    from_name: name,
    from_email: email,
    message: message
  }

  emailjs.send('service_julian', 'template_julian', userParams, 'user_WjMXCOdbdqCzwQpCDkjtL')
    .then(
      (response) => {
        document.getElementById('toast-success')?.classList.toggle('hidden')

        setTimeout (() => {
          document.getElementById('toast-success')?.classList.toggle('hidden')
        }, 3000)
      },
      (error) => {
        document.getElementById('toast-danger')?.classList.toggle('hidden')

        setTimeout (() => {
          document.getElementById('toast-danger')?.classList.toggle('hidden')
        }, 3000)
      }
    )
})
</script>

<script is:inline>

const $contacts = document.getElementById('contacts')

$contacts.onmousemove = e => {
  for (const contact of document.getElementsByClassName("contact")) {
    const rect = contact.getBoundingClientRect(),
          x = e.clientX - rect.left,
          y = e.clientY - rect.top;

    contact.style.setProperty("--mouse-x", `${x}px`);
    contact.style.setProperty("--mouse-y", `${y}px`);
  };
}

</script>