---
import Title from "../components/Title.astro";
import CopyIcon from "../components/icons/CopyIcon.astro";

const CONTACTS = [
  {
    icon: "/icons/mail.svg",
    text: "juliandpt98@gmail.com",
    alt: "mail",
    canCopy: true,
    copied: false
  },
  {
    icon: "/icons/phone.svg",
    text: "+34 620 69 69 68",
    alt: "phone",
    canCopy: true,
    copied: false
  },
  {
    icon: "/icons/location.svg",
    text: "Madrid, Spain",
    alt: "location",
    canCopy: false,
    copied: false
  }
]
---

<Title title="Contact" />

<div class="w-full">
    <form action="#" class="space-y-8">
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
            <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="name@flowbite.com" required>
        </div>

        <div class="sm:col-span-2">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your message</label>
            <textarea id="message" rows="6" class="resize-none block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Leave a comment..."></textarea>
        </div>
        <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Send message</button>
    </form>

    <div id="contacts" class="flex flex-col justify-center gap-4">
        {CONTACTS.map(contact => (
            <button class='flex text-gray-500 justify-between p-4 transition-colors cursor-pointer text-center group'>
                <span> { contact.text } </span>
        
                <CopyIcon class="w-4 h-4 invisible group-hover:visible" />
            </button>
        ))}
  </div>


  <div id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 dark:text-gray-400 bg-gray-50 dark:bg-[#1F1F1F] shadow fixed right-5 bottom-5 hidden" role="alert" >
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 dark:bg-green-800 dark:text-green-200">
        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" id="check">
          <path d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z"></path>
        </svg>

        <span class="sr-only">Check icon</span>
    </div>

    <div class="ml-3 text-sm font-normal">Email sent successfully!</div>

    <button type="button" class="ml-auto -mx-1.5 -my-1.5text-gray-400 hover:text-gray-900 p-1.5 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white" data-dismiss-target="#toast-success" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
    </button>
  </div>

  <div id="toast-danger" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white shadow dark:text-gray-400 dark:bg-gray-800 fixed right-5 bottom-5 hidden" role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 dark:bg-red-800 dark:text-red-200">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>

        <span class="sr-only">Error icon</span>
    </div>

    <div class="ml-3 text-sm font-normal">An error ocurred.</div>

    <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 p-1.5 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800" data-dismiss-target="#toast-danger" aria-label="Close">
        <span class="sr-only"> Close </span>
        <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
    </button>
  </div>
</div>

<style>


#contacts > button:hover > svg {
  @apply visible;
}
textarea {
  field-sizing: content;
}
</style>


<script>
import emailjs from '@emailjs/browser';

document.getElementById('sendButton')?.addEventListener("click", () => {
  const name = (document.getElementById('name') as HTMLInputElement).value
  const email = (document.getElementById('email') as HTMLInputElement).value
  const message = (document.getElementById('message') as HTMLInputElement).value

  const userParams = {
    from_name: name,
    from_email: email,
    message: message
  }

  emailjs.send('service_julian', 'template_julian', userParams, 'user_WjMXCOdbdqCzwQpCDkjtL')
    .then(
      (response) => {
        document.getElementById('toast-success')?.classList.toggle('hidden')

        setTimeout (() => {
          document.getElementById('toast-success')?.classList.toggle('hidden')
        }, 3000)
      },
      (error) => {
        document.getElementById('toast-danger')?.classList.toggle('hidden')

        setTimeout (() => {
          document.getElementById('toast-danger')?.classList.toggle('hidden')
        }, 3000)
      }
    )
})

document.getElementById('contacts')?.addEventListener("click", (event) => {
  const target = event.target as HTMLElement

  if (target.tagName === 'BUTTON') {
    const text = target.querySelector('h').textContent

    if (text) {
      navigator.clipboard.writeText(text)
      target.querySelector('svg')?.classList.toggle('text-green-500')

      setTimeout(() => {
        target.querySelector('svg')?.classList.toggle('text-green-500')
      }, 3000)
    }
  }
})

document.getElementById('toast-success')?.addEventListener("click", (event) => {
  const target = event.target as HTMLElement

  if (target.tagName === 'BUTTON') {
    document.getElementById('toast-success')?.classList.toggle('hidden')
  }
})

document.getElementById('toast-danger')?.addEventListener("click", (event) => {
  const target = event.target as HTMLElement

  if (target.tagName === 'BUTTON') {
    document.getElementById('toast-danger')?.classList.toggle('hidden')
  }
})
</script>