---
import Title from "../components/Title.astro"
import UpDownArrow from "../components/icons/UpDownArrow.astro"

const PROJECTS = [
  {
    title: "Infopueblo",
    description: "Search webapp of Spanish municipalities. It offers leisure data from the different municipalities, compiling the information through web scrapping.",
    projectLink: "",
    codeLink: "https://github.com/juliandpt/Infopueblo",
    chips: [
      {
        name: "Angular.js",
        icon: "/images/angular.png",
        color: "primary"
      },
      {
        name: "Bootstrap",
        icon: "/images/bootstrap.png",
        color: "primary"
      },
      {
        name: "Node.js",
        icon: "/images/nodejs.png",
        color: "primary"
      },
      {
        name: "PostgreSQL",
        icon: "/images/postgresql.png",
        color: "primary"
      },
      {
        name: "Python",
        icon: "/images/python.png",
        color: "primary"
      }
    ],
    demo: "/videos/infopueblo.mp4"
  },
  {
    title: "Webstats",
    description: "Web service responsible for analyzing the security implemented in the different endpoints of any web domain.",
    codeLink: "https://github.com/juliandpt/Webstats",
    chips: [
      {
        name: "Nuxt.js",
        icon: "/images/nuxt.png",
        color: "primary"
      },
      {
        name: "Vuetify",
        icon: "/images/vuetify.png",
        color: "primary"
      },
      {
        name: "Node.js",
        icon: "/images/nodejs.png",
        color: "primary"
      },
      {
        name: "MongoDB",
        icon: "/images/mongodb.png",
        color: "primary"
      }
    ],
    demo: "/videos/webstats.mp4"
  },
  {
    title: "Weather?",
    description: "Web service capable of showing different climatic data of a locality. Created to learn the basics of communication with APIs.",
    codeLink: "https://github.com/juliandpt/WeatherApp",
    chips: [
      {
        name: "Sveltekit",
        icon: "/images/svelte.png",
        color: "primary"
      },
      {
        name: "Bootstrap",
        icon: "/images/bootstrap.png",
        color: "primary"
      }
    ],
    demo: "/videos/weather.mp4"
  },
]
---

<Title title="Projects" />

<div class="mx-auto grid grid-cols-2 gap-4 w-full max-w-screen-2xl px-4 md:flex-row md:items-center md:px-0">
  <div id="projects" class="mb-4 md:mx-auto w-full">
    {PROJECTS.map(project => (
        <button class="py-5 w-full border-b border-white/60 shadow-lg backdrop-blur cursor-pointer first:active group">
          <div class="flex justify-between items-center">
            <span class="font-light text-left transition-all duration-200 text-white/60 group-hover:text-white"> { project.title } </span>
            
            <UpDownArrow class="flex-shrink-0 w-4 h-4  transition-all duration-200 ease-out transform rotate-0" />
          </div>

          <p class="relative mt-5 text-left transition-all duration-300 will-change-[height] hidden" style="height: ;"> { project.description } </p>
        </button>
    ))}
  </div>

  <div class="relative flex flex-col gap-4">
    {PROJECTS.map(project => (
      <div class="relative bg-gradient-to-b from-neutral-800 to-20% p-[1px] overflow-hidden rounded-lg ">
        <div class="z-10 flex flex-col gap-2 p-2 bg-black rounded-lg">
            <div aria-hidden="true" class="absolute top-0 left-1/2 right-1 h-px w-40 user-select-none center pointer-events-none max-w-full -translate-x-1/2 -translate-y-1/2 shadow-[0px_0px_100px_5px_#fff]" style="background:linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.0) 0%, rgba(143, 143, 143, 0.67) 50%, rgba(0, 0, 0, 0) 100%)" />
            <p class="text-center p-2"> { project.title } </p>
    
            <video class="w-full cursor-pointer rounded-lg px-2 pb-2 aspect-video" controls muted>
              <source src={ project.demo } type="video/mp4" />
            </video>
        </div>
      </div>
    ))}
</div>

<style>
#projects > button:last-child {
    @apply border-0;
}
</style>

<script is:inline>

const $projects = document.getElementById("projects")


$projects.querySelectorAll("button").forEach(button => {
  button.addEventListener("click", (event) => {
    if (button.classList.contains("active")) return

    button.classList.add("active")

    const { currentTarget } = event

    const $svg = currentTarget.querySelector("svg")
    const $p = currentTarget.querySelector("p")
    const isClosed = $svg.classList.contains("rotate-0")

    $p.classList.toggle("hidden", !isClosed)

    const [from, to] = isClosed ? ["rotate-0", "rotate-180"] : ["rotate-180", "rotate-0"]
    $svg.classList.replace(from, to)

    // rotate the rest of the svgs
    $projects.querySelectorAll("button").forEach(button => {
      if (button !== currentTarget) {
        button.classList.remove("bg-neutral-900", "active")
        button.querySelector("svg").classList.replace("rotate-180", "rotate-0")
      }
    })

    // close the rest of the divs 
    $projects.querySelectorAll("p").forEach(p => { if (p !== $p) p.classList.add("hidden") })
  })
})


</script>