---
import HtmlIcon from '../components/icons/HtmlIcon.astro'
import CssIcon from '../components/icons/CssIcon.astro'
import JavascriptIcon from '../components/icons/JavascriptIcon.astro'
import TypescriptIcon from '../components/icons/TypescriptIcon.astro'
import AngularIcon from '../components/icons/AngularIcon.astro'
import ReactIcon from '../components/icons/ReactIcon.astro'
import NextjsIcon from '../components/icons/NextjsIcon.astro'
import VueIcon from '../components/icons/VueIcon.astro'
import NuxtIcon from '../components/icons/NuxtIcon.astro'
import SvelteIcon from '../components/icons/SvelteIcon.astro'
import TailwindIcon from '../components/icons/TailwindIcon.astro'
import NodejsIcon from '../components/icons/NodejsIcon.astro'
import FirebaseIcon from '../components/icons/FirebaseIcon.astro'
import FlaskDarkIcon from '../components/icons/FlaskDarkIcon.astro'
import MongodbIcon from '../components/icons/MongodbIcon.astro'
import PostgresqlIcon from '../components/icons/PostgresqlIcon.astro'
import GitIcon from '../components/icons/GitIcon.astro'
import PythonIcon from '../components/icons/PythonIcon.astro'
import JavaIcon from '../components/icons/JavaIcon.astro'
import CppIcon from '../components/icons/CppIcon.astro'

const STACK = [
  {
    title: 'HTML',
    background: 'shadow-[0_0_30px_16px_#EF652A]',
    icon: HtmlIcon
  },
  {
    title: 'CSS',
    background: 'shadow-[0_0_30px_16px_#30A9DC]',
    icon: CssIcon
  },
  {
    title: 'Javascript',
    background: 'shadow-[0_0_30px_16px_#F0DB4F]',
    icon: JavascriptIcon
  },
  {
    title: 'Typescript',
    background: "shadow-[0_0_30px_16px_#017ACB]",
    icon: TypescriptIcon
  },
  {
    title: 'Tailwind',
    background: 'shadow-[0_0_30px_16px_#38BDF8]',
    icon: TailwindIcon
  },
  {
    title: 'Angular',
    background: 'shadow-[0_0_30px_16px_#E23237]',
    icon: AngularIcon
  },
  {
    title: 'React',
    background: 'shadow-[0_0_30px_16px_#00D8FF]',
    icon: ReactIcon
  },
  {
    title: 'Next.js',
    background: 'shadow-[0_0_30px_16px_#8E8E8E]',
    icon: NextjsIcon
  },
  {
    title: 'Vue',
    background: 'shadow-[0_0_30px_16px_#41B883]',
    icon: VueIcon
  },
  {
    title: 'Nuxt',
    background: 'shadow-[0_0_30px_16px_#00DC82]',
    icon: NuxtIcon
  },
  {
    title: 'Svelte',
    background: 'shadow-[0_0_30px_16px_#FF3E00]',
    icon: SvelteIcon
  },
  {
    title: 'Node.js',
    background: 'shadow-[0_0_30px_16px_#476B30]',
    icon: NodejsIcon
  },
  {
    title: 'Firebase',
    background: 'shadow-[0_0_30px_16px_#FCCA3F]',
    icon: FirebaseIcon
  },
  {
    title: 'Flask',
    background: 'shadow-[0_0_30px_16px_#E7E6E3]',
    icon: FlaskDarkIcon
  },
  {
    title: 'MongoDB',
    background: 'shadow-[0_0_30px_16px_#01EC64]',
    icon: MongodbIcon
  },
  {
    title: 'PostgreSQL',
    background: 'shadow-[0_0_30px_16px_#336791]',
    icon: PostgresqlIcon
  },
  {
    title: 'Git',
    background: "shadow-[0_0_30px_16px_#DE4C36]",
    icon: GitIcon
  },
  {
    title: 'Python',
    background: 'shadow-[0_0_30px_16px_#346F9F]',
    icon: PythonIcon
  },
  {
    title: 'Java',
    background: 'shadow-[0_0_30px_16px_#5382A1]',
    icon: JavaIcon
  },
  {
    title: 'C++',
    background: 'shadow-[0_0_30px_16px_#659AD2]',
    icon: CppIcon
  },
  // {
  //   title: 'SAS',
  //   icon: '/images/sas.png'
  // }
]
---

<ul class='flex flex-row flex-wrap gap-6 justify-center mx-auto max-w-[700px]'>
	{STACK.map(tech => (
        <li class='relative w-[66px] h-[66px] flex justify-center items-center rounded-full select-none'>
            <tech.icon class='w-auto max-w-10 h-8 z-10' />
            <div class={`absolute ${tech.background}`} />
        </li>
    ))}
</ul>