---
import '@fontsource-variable/inter';

import Header from "../sections/Header.astro";
import Footer from "../sections/Footer.astro";

const { title, description } = Astro.props
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={ description } />
		<title> { title } | Julian </title>
	</head>

	<body class="text-black dark:text-white bg-white dark:bg-black">
			<Header/>

    <slot/>

		<Footer/>
	</body>
</html>

<style is:global>
html {
	font-family: 'Inter Variable', sans-serif;
}

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/Mona-Sans.woff2') format('woff2-variations');
}

.font-display {
  font-family: 'Mona Sans';
  font-variation-settings: "wdth" 125;
}

</style>