---
// import "@fontsource-variable/inter";

import "@/styles/global.css";

const { description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>Julián de Pablo</title>
  </head>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
