---
import { NAV_ITEMS } from '@/consts/navItems'
---

<header class="fixed top-0 z-20 mx-auto mt-4 flex w-full items-center justify-center">
  <nav
    class="flex items-center justify-center space-x-3 rounded-md bg-transparent px-3 text-xs font-medium sm:space-x-8"
  >
    {
      NAV_ITEMS.map((link) => (
        <a
          class="block px-2 py-2 text-white/80 transition duration-500 hover:text-white hover:[text-shadow:_0_0_10px_white]"
          aria-label={link.label}
          href={link.href}
          data-id={link.label}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const navLinks = document.querySelectorAll('nav a')

    const handleScroll = (id) => {
      const section = document.getElementById(id)
      section?.scrollIntoView({ behavior: 'smooth', inline: 'nearest' })
    }

    navLinks.forEach((link) => {
      link.addEventListener('click', (e) => {
        e.preventDefault()
        const sectionId = link.getAttribute('data-id')
        handleScroll(sectionId)
      })
    })

    const setActiveLink = () => {
      const currentHash = window.location.hash
      navLinks.forEach((link) => {
        link.classList.toggle('isActive', link.getAttribute('href') === currentHash)
      })
    }

    window.addEventListener('hashchange', setActiveLink)
    setActiveLink()
  })
</script>
