---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="text-center mb-16">
  <h2
    class="text-4xl text-transparent bg-gradient-to-r from-white from-10% to-white/80 bg-clip-text inline-block"
  >
    {title}
  </h2>
</div>
